.header {
    width: 100%;
    background: var(--primary-background-color);
    border-bottom: 1px solid #ececec;
    &__container {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
      /* padding-top: 24px;
      padding-bottom: 25px; */
    }
    
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
      height: 80px;
    justify-content: center;
    padding-top: 21px;
    padding-bottom: 21px;
    }
    
  }
  
  .navigations {
    display: flex;
    align-items: center;
  }